@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
#daysDiv{
    display: flex;
    justify-content: space-between;
}
#hoursDiv{
    display: flex;
    justify-content: space-between;
}
.date{
    cursor: pointer;
}
.hoursDivChildren{
    cursor: pointer;
}