@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgba(255, 255, 255, 0.959);
}
body.dark{
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
}
#daysDiv{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 800px;
}
#hoursDiv{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}
.date{
    cursor: pointer;
}
.hoursDivChildren{
    cursor: pointer;
}
li{
    cursor: pointer;
}
#favoritesDiv{
    display: flex;
}
#favoritesList{
    display: flex;
}
#weatherDiv{
    width: 1500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.favoriteCityDiv{
    display: flex;
    margin-right: 50px;
}
.weatherStickers{
    max-width: 60px;
}
#weatherSticker > img{
    width: 120px;
}
#weatherSticker {
    width: 120px;
    height: 130px;
}