@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
body{
    background-color: #171717;
    color: white;
    max-width: 100vw;
}
body.light{
    color: black;
    background-color: #fffffff5;
}
#mainDiv{
    max-width: 1000px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    display: none;
}



/*LOADING*/
#loading{
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 10vh;
    background-color: #171717;
}
#loadingMap{
    max-width: 120px;
    position: absolute;
}
#loadingCircle{
    max-width: 220px;
    position: absolute;
    animation: rotate 2s linear infinite;
}
#loading.light{
    background-color: white;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(150deg);
    }
}


/*NAVBAR*/
#nav{
    display: none;
    justify-content: space-between;
    align-items: center;
}
#logoDiv{
    width: 158px;
    margin-top: 5px;
}
#logo{
    width: 70px;
}
input[type="text"] {
    padding: 5px;
    border: none;
}
input[type="text"].light {
    background-color: #e4e4e4;
}
input[type="text"]:focus {
    outline: none;
}
#buttonsDiv{
    display: flex;
    align-items: center;
}
#locationButton{
    margin-right: 20px;
    width: 27px;
    height: 28px;
    background-position: center;
    background-size: cover;
    background-image: url('/img/location.png');
    cursor: pointer;
}
#themeButton{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url('/img/sun.png');
    cursor: pointer;
}
#themeButton.light{
    background-image: url('/img/moon.png');
}
#fButton, #cButton{
    color: white;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
}
#fButton.active, #cButton.active{
    color: #EB6E4B;
    outline: none;
    border: none;
}
#fButton.light, #cButton.light{
    color: black;
}




/*DETAILS-DIV*/
#weatherSticker > img{
    width: 120px;
}
#weatherSticker {
    width: 120px;
    height: 130px;
    margin: auto;
}
#feelsLikeDiv > img{
    width: 30px;
}
#feelsLikeDiv, #humidityDiv{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
#humidityDiv > img{
    width: 28px;
}
#feelsLikeAndHumidityDiv{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
#detailsDiv{
    display: grid;
    margin: 10px auto 50px auto;
    justify-content: center;
}
#feelsLike{
    margin: 0 3px 0 5px;
}
#locationName {
    margin: auto;
    font-size:1.8rem;
}
#time{
    margin: auto;
    font-size:1.3rem;
}
#humidity{
    margin: 0 5px 0 0;
}
#description{
    margin: 20px auto;
    font-size: 1.4rem;
}
#tempDiv{
    margin: auto;
    font-size: 2rem;
}





/*FORECAST*/
#daysDiv{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}
.dayContainer > p{
    display: flex;
    justify-content: center;
}
.days{
    cursor: pointer;
}
.dayTempSpan{
    margin: 0 4px;
    color: #EB6E4B;
}
#hoursDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hourTempUnit{
    margin-left: 5px;
}
.hoursDivChildren{
    cursor: pointer;
    margin: 0 10px;
    padding: 7px 13px;
    border: 2px #EB6E4B solid;
    border-radius: 7%;
}
.hoursDivChildren > p{
    display: flex;
    justify-content: center;
}
.hoursDivChildren > img{
    display: flex;
    margin: auto;
}
.weatherStickers{
    max-width: 60px;
}





/*FAVORITES*/
#favoritesDiv{
    margin: 50px 30px 50px 20px;
    display: none;
    position: absolute;
    justify-content: center;
    top: 0;
    right: 0;
}
#favoritesHeader{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.favoriteCityDiv{
    display: flex;
    margin-top: 10px;
    padding: 7px 5px;
    justify-content: space-between;
    background-color: #232323;
    color: white;
}
#addFavoritesButton{
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 7px 5px;
    justify-content: space-between;
    background-color: #232323;
    color: white;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    cursor: pointer;
}
.deleteButtons{
    width: 15px;
    height: 15px;
    margin: 5px 0 0 10px;
    background-position: center;
    background-size: cover;
    background-image: url('/img/close.png');
    cursor: pointer;
}
.favoriteCityDiv.light, #addFavoritesButton.light{
    background-color: #f4f4f4;
    color: black;
}




@media(max-width: 1427px){
#mainDiv{
    max-width: 700px;
    margin: auto;
}
/*NAVBAR*/
#nav{
    max-width: 620px;
    margin: auto;
}

/*FORECAST*/
#daysDiv{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0;
    max-width: 800px;
}
.dayContainer{
    margin: 0 10px;
}
#hoursDiv{
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px;
}
.hoursDivChildren{
    cursor: pointer;
    margin: 20px 10px;
    padding: 7px 13px;
    border: 2px #EB6E4B solid;
    border-radius: 7%;
}

/*FAVORITES*/
#favoritesDiv{
    margin: 50px auto;
    display: none;
    justify-content: center;
    position: static;
    max-width: 600px;
}
#favoritesHeader{
    margin: auto;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
#addFavoritesButton{
    margin: 20px auto;
    padding: 5px 39px ;
}
.favoriteCityDiv{
    margin: 10px 10px ;
}
}


@media(max-width: 672px){
#mainDiv{
    max-width: 600px;
}
/*NAVBAR*/
#nav{
    margin: 20px 40px 100px 40px;
}
#logoDiv{
    display: none;
}
input[type="text"] {
    width: 150px;
}


/*DETAILS-DIV*/
#feelsLikeAndHumidityDiv{
    display: grid;
    justify-content: center;
    gap: 15px;
}


/*FORECAST*/
#daysDiv{
    flex-wrap: wrap;
    margin: 20px 50px;
}
.dayContainer{
    margin-top: 20px
}
#hoursDiv{
    grid-template-columns: 1fr 1fr ;
    max-width: 250px;
}
}


@media(max-width: 410px){
/*NAVBAR*/
#nav{
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
    padding: 0 40px;
}
#logoDiv{
    display: none;
}
input[type="text"] {
    width: 165px;
}
#buttonsDiv{
    margin-top: 20px;
}




/*FORECAST*/
#daysDiv{
    display: block;
}
}